{% extends "index.html" %}

{% block page_head %}
  {% load static %}
{% endblock page_head %}

{% block page_titulo %}
<h1 class="text-center mb-5">Acerca de Nosotros</h1>
{% endblock page_titulo %}

{% block page_content %}

<hr>
<section class="py-4">
    <div class="container">
      <p class="text-center mb-4">Somos una empresa de periodismo dedicada a brindar información veraz y de calidad. Nuestro equipo está compuesto por profesionales apasionados por la verdad y el servicio a la comunidad.</p>
  
      <!-- Filas con las descripciones del equipo -->
      <div class="row">
        <!-- Integrante 1 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img src="{% static 'img/tomas.png' %}" class="card-img-top" alt="Integrante 1" style="max-width: 100%; height: 100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">Tomas Rodriguez</h5>
              <p class="card-text">Jefe de Redacción. Con más de 10 años de experiencia, es quien lidera el equipo con una visión clara y estratégica, garantizando la calidad de cada publicación.</p>
            </div>
          </div>
        </div>
  
        <!-- Integrante 2 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img src="{% static 'img/aldana.png' %}" class="card-img-top" alt="Integrante 2" style="max-width: 100%; height: 100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">Aldana Zarate</h5>
              <p class="card-text">Editora de Noticias. Aldana es la responsable de asegurar que cada artículo sea preciso y esté bien documentado, aportando su vasta experiencia en investigación periodística.</p>
            </div>
          </div>
        </div>
  
        <!-- Integrante 3 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img src="{% static 'img/cecilio.png' %}" class="card-img-top" alt="Integrante 3" style="max-width: 100%; height: 100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">Cecilio Baroni Pietto</h5>
              <p class="card-text">Fotógrafo y periodista visual. Cecilio captura las imágenes que cuentan las historias más allá de las palabras, llevando la narrativa visual a otro nivel.</p>
            </div>
          </div>
        </div>
  
        <!-- Integrante 4 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img src="{% static 'img/fer.png' %}" class="card-img-top" alt="Integrante 4" style="max-width: 100%; height: 100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">Fernando Masin</h5>
              <p class="card-text">Reportero. Fernando está siempre en la primera línea, informando de manera oportuna y objetiva, cubriendo los eventos más importantes a nivel local y nacional.</p>
            </div>
          </div>
        </div>
  
        <!-- Integrante 5 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img src="{% static 'img/juan.png' %}" class="card-img-top" alt="Integrante 5" style="max-width: 100%; height: 100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">Juan Gomez</h5>
              <p class="card-text">Community Manager. Gomez se encarga de gestionar nuestras redes sociales, manteniendo una comunicación fluida con nuestros lectores y seguidores.</p>
            </div>
          </div>
        </div>

        <!-- Integrante 6 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img src="{% static 'img/rodrigo.png' %}" class="card-img-top" alt="Integrante 6" style="max-width: 100%; height: 100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">Rodrigo Dojas</h5>
              <p class="card-text">Investigador. Rodrigo apoya a los reporteros y productores para proporcionar datos y verificaciones de hechos. Para lograr lo informado sea preciso y veridico.</p>
            </div>
          </div>
        </div>

        <!-- Integrante 7 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img src="{% static 'img/enzo.png' %}" class="card-img-top" alt="Integrante 7" style="max-width: 100%; height: 100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">Enzo David Lopez</h5>
              <p class="card-text">Coordinador de Noticias. Enzo es el encargado de planificacion y organizacion diaria del noticiero, manteniendo al equipo informado sobre los temas y la logisticas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock page_content %}