{% extends "base.html" %}

{% block page_titulo %}
<h2>Cambiar contraseña</h2>
{% endblock page_titulo %}


{% block page_content %}
    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" name="username" required>
               
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Nueva contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordForm = document.querySelector('form');

            passwordForm.addEventListener('submit', function (event) {
                const username = document.getElementById('username').value;
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;

                // Validaciones personalizadas
                if (!username || !email || !password) {
                    event.preventDefault(); // Evita el envío del formulario
                    alert('Por favor completa todos los campos.'); // Mensaje de alerta
                }
            });
        });
    </script>
</body>


{% endblock page_content %}