{% extends "base.html" %}

{% block page_titulo %}
    <h1>{{ post.titulo }}</h1>
{% endblock page_titulo %}

{% block page_content %}
    <small>
        {{ post.hora_creacion.date }} | Categorias:
        {% for categoria in post.categorias.all %}
            <a href="{% url 'blog_categoria' categoria.name %}">
                {{ categoria.name }}
            </a>
        {% endfor %}
    </small>
    <hr>
    <img
          src="{{ post.imagen.url }}"
          alt="{{ post.titulo }}"
          class="img-fluid"
          style="max-width: 100%"
        />
    <p>{{ post.cuerpo | linebreaks }}</p>

    <div class="share-buttons" style="margin-top: 30px;">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="btn btn-primary"><i class="fa-brands fa-facebook"></i> Compartir en Facebook</a>
        <a href="https://api.whatsapp.com/send?text={{ post.titulo }}%20{{ request.build_absolute_uri }}" target="_blank" class="btn btn-primary"><i class="fa-brands fa-whatsapp"></i> Compartir en WhatsApp</a>


    </div>
 
    <div class="mb-5"></div>
    <h3>Deja un comentario:</h3>
    <div class="mb-4"></div>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            {{ form.autor }}
        </div>
        <div class="mb-4">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    {% else %}
    <p>Solo los usuarios <strong>registrados</strong> pueden comentar. <a href="/login"">Inicia sesión</a> o <a href="{% url 'registro' %}">registrate</a>.</p>
    {% endif %}

    <div class="mb-5"></div>
    <h3>Comentarios:</h3>
    <div class="mb-5"></div>
    {% for comentario in comments %}
        <p>
            En {{ comentario.hora_creacion.date }} <b>{{ comentario.autor }}</b> escribió:
        </p>
        <p>
            {{ comentario.cuerpo | linebreaks }}
        </p>
        
  {% if is_colab %}
    <a href="{% url 'eliminar_comentario' comentario.id %}" class="btn btn-block btn-danger">Eliminar</a>

  {% elif comentario.autor == user %}
    <a href="{% url 'eliminar_comentario' comentario.id %}" class="btn btn-block btn-danger">Eliminar</a>

  {% endif %}


    {% endfor %}
{% endblock page_content %}