{% extends "base.html" %}

{% block page_titulo %}
    <h2>{{ post.titulo }}</h2>
{% endblock page_titulo %}

{% block page_content %}
    <small>
        {{ post.hora_creacion.date }} | Categorias:
        {% for categoria in post.categorias.all %}
            <a href="{% url 'blog_categoria' categoria.name %}">
                {{ categoria.name }}
            </a>
        {% endfor %}
    </small>
    <p>{{ post.cuerpo | linebreaks }}</p>

    <div class="mb-5"></div>
    <h3>Deja un comentario:</h3>
    <div class="mb-4"></div>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            {{ form.autor }}
        </div>
        <div class="mb-4">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    <div class="mb-5"></div>
    <h3>Comentarios:</h3>
    <div class="mb-5"></div>
    {% for comentario in comments %}
        <p>
            En {{ comentario.hora_creacion.date }} <b>{{ comentario.autor }}</b> escribió:
        </p>
        <p>
            {{ comentario.cuerpo | linebreaks }}
        </p>
    {% endfor %}
{% endblock page_content %}