{% extends "base.html" %}


{% block page_titulo %}
    <h2>Últimas noticias</h2>
{% endblock page_titulo %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <div class="post mb-4">
            <h3><a href="{% url 'blog_detail' post.pk %}" class="post-link text-decoration-none">{{ post.titulo }}</a></h3>
            <small>
                {{ post.hora_creacion.date }} | Categorias:
                {% for categoria in post.categorias.all %}
                    <a href="{% url 'blog_categoria' categoria.name %}" class="post-link text-decoration-none">
                        {{ categoria.name }}
                    </a>
                {% endfor %}
            </small>
            <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="img-fluid" style="max-width: 100%;">
            <p>{{ post.cuerpo | slice:":400" }}...</p>
            </div>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}