{% extends "base.html" %}


{% block page_titulo %}
    <h2>Blog Posts</h2>
{% endblock page_titulo %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.titulo }}</a></h3>
            <small>
                {{ post.hora_creacion.date }} | Categorias:
                {% for categoria in post.categorias.all %}
                    <a href="{% url 'blog_categoria' categoria.name %}">
                        {{ categoria.name }}
                    </a>
                {% endfor %}
            </small>
            <p>{{ post.cuerpo | slice:":400" }}...</p>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}